In [1]:
import re # Import the regular expression module

#1.Finding pattern with specific ending

In [2]:
# Finding the pattern 'at' in the given string
re.findall('at','The rat sat on the mat and attacked a cat')

['at', 'at', 'at', 'at', 'at']

In [3]:
# finding all 3-letter words ending with 'at'
re.findall('.at','The rat sat on the mat and attacked a cat')

['rat', 'sat', 'mat', ' at', 'cat']

#2.Start and end pattern matching

In [4]:
# Finding all digits in the string
re.findall('\d','9 is divisible by 3 not 2')

<>:2: SyntaxWarning: invalid escape sequence '\d'
<>:2: SyntaxWarning: invalid escape sequence '\d'
/tmp/ipython-input-931921565.py:2: SyntaxWarning: invalid escape sequence '\d'
  re.findall('\d','9 is divisible by 3 not 2')

['9', '3', '2']

In [5]:
# Finding all digits in the string
re.findall('\d','21 is divisible by 3 not 2')
#as we have taken only one \d tehn it will display only one digit at a time

<>:2: SyntaxWarning: invalid escape sequence '\d'
<>:2: SyntaxWarning: invalid escape sequence '\d'
/tmp/ipython-input-360089934.py:2: SyntaxWarning: invalid escape sequence '\d'
  re.findall('\d','21 is divisible by 3 not 2')

['2', '1', '3', '2']

In [6]:
# Finding all two-digit numbers in the string
re.findall('\d\d','21 is divisible by 3 not 2')

<>:2: SyntaxWarning: invalid escape sequence '\d'
<>:2: SyntaxWarning: invalid escape sequence '\d'
/tmp/ipython-input-730048372.py:2: SyntaxWarning: invalid escape sequence '\d'
  re.findall('\d\d','21 is divisible by 3 not 2')

['21']

In [7]:
# Finding the last digit in the string
re.findall('\d$','9 is divisible by 3 not 2')
# $ represent the last digit

<>:2: SyntaxWarning: invalid escape sequence '\d'
<>:2: SyntaxWarning: invalid escape sequence '\d'
/tmp/ipython-input-1253988247.py:2: SyntaxWarning: invalid escape sequence '\d'
  re.findall('\d$','9 is divisible by 3 not 2')

['2']

In [8]:
# Finding the last digit in the string
re.findall('\d$','9 is divisible by 3.')
# $ represent the last digit ans as '.' is not digit so it's returning empty string

<>:2: SyntaxWarning: invalid escape sequence '\d'
<>:2: SyntaxWarning: invalid escape sequence '\d'
/tmp/ipython-input-2503906381.py:2: SyntaxWarning: invalid escape sequence '\d'
  re.findall('\d$','9 is divisible by 3.')

[]

In [9]:
# Finding the first digit in the string
re.findall('^\d','9 is divisible by 3.')
# ^ represent the first digit

<>:2: SyntaxWarning: invalid escape sequence '\d'
<>:2: SyntaxWarning: invalid escape sequence '\d'
/tmp/ipython-input-1809795821.py:2: SyntaxWarning: invalid escape sequence '\d'
  re.findall('^\d','9 is divisible by 3.')

['9']

#3.Finding Small Letters

In [10]:
# Finding all lowercase letters in the string
re.findall('[a-z]','Welcome to ITALY')

['e', 'l', 'c', 'o', 'm', 'e', 't', 'o']

#4.Finding Capital Letters

In [11]:
# Finding all uppercase letters in the string
re.findall('[A-Z]','Welcome to ITALY')

['W', 'I', 'T', 'A', 'L', 'Y']

#5.Finding uppercase and lowercase Letters

In [12]:
# Finding all uppercase and lowercase letters in the string
re.findall('[A-Za-z]','Welcome to ITALY')

['W', 'e', 'l', 'c', 'o', 'm', 'e', 't', 'o', 'I', 'T', 'A', 'L', 'Y']

#6.Finding uppercase,lowercase Letters and Numbers

In [13]:
# Finding all uppercase, lowercase letters and numbers in the string
re.findall('[A-Za-z0-9]','Welcome to ITALY 34859')

['W',
 'e',
 'l',
 'c',
 'o',
 'm',
 'e',
 't',
 'o',
 'I',
 'T',
 'A',
 'L',
 'Y',
 '3',
 '4',
 '8',
 '5',
 '9']

#7. Finding numeric values

In [14]:
# Finding all numeric values in the string
re.findall('[0-9]','Welcome to ITALY 34859')

['3', '4', '8', '5', '9']

This notebook demonstrates various ways to use the `re` module in Python for regular expression operations.

Here's a summary of the examples covered:

*   **Finding patterns with specific endings**: Examples show how to find a specific pattern ('at') and a pattern ending with 'at' using the `.` wildcard.
*   **Start and end pattern matching**: Examples illustrate how to find digits (`\d`), two-digit numbers (`\d\d`), and use anchors (`^` for the start and `$` for the end of the string) to find digits at the beginning and end of a string.
*   **Finding specific character types**: Examples demonstrate how to find lowercase letters (`[a-z]`), uppercase letters (`[A-Z]`), both uppercase and lowercase letters (`[A-Za-z]`), alphanumeric characters (`[A-Za-z0-9]`), and numeric values (`[0-9]`).